	<div class="blog_section">
		<h2 class="smallcaps">Embedded Programming</h2>

		<p>
			I have dabbled with many 8-bit microcontrollers such as AVR, PIC18F and 8051.<br>
			<br>
			Recently, I am also getting familiar with 32-bit microcontrollers such as the STM32 family. <br>
		</p>

		<hr/>
		<br>
		<p>These are my GitHub repositories where I've published my learning projects.</p>

		<table>
			<tr>
				<th> <p class="smallcaps"> <b>Type</b> </p> </th>
				<th> <p class="smallcaps"> <b>Repository</b> </p> </th>
			</tr>
			<tr>
				<td> PIC18F </td>
				<td> <a href="https://github.com/zst-embedded/PIC18F4520-Learning_Projects"> PIC18F4520-Learning_Projects </a> </td>
			</tr>
			<tr>
				<td> 8051 </td>
				<td> <a href="https://github.com/zst-embedded/C8051F226-Learning_Projects"> C8051F226-Learning_Projects </a> </td>
			</tr>
			<tr>
				<td> tinyAVR/megaAVR </td>
				<td> <a href="https://github.com/zst-embedded/AVR-Learning_Projects"> AVR-Learning_Projects </a> </td>
			</tr>
			<tr>
				<td> STM32F1 </td>
				<td> <a href="https://github.com/zst-embedded/STM32F103C8T6-Learning_Projects"> STM32F103C8T6-Learning_Projects </a> </td>
			</tr>
			<tr>
				<td> STM32L0 </td>
				<td> <a href="https://github.com/zst-embedded/STM32L073VZT6-Learning_Projects"> STM32L073VZT6-Learning_Projects </a> </td>
			</tr>
		</table>

		<br><br>
		<hr/>
		<br>
		<p>These are a few projects I would like to showcase</p>

		<h3>Font Generator for STM32xx-EVAL LCD Driver</h3>
		<table class="collapse">
			<tbody>
				<tr>
					<td>
						<img height='300' src="https://raw.githubusercontent.com/zst-embedded/STM32-LCD_Font_Generator/master/preview.jpg"/>
					</td>
					<td>
						A Python3 script to generate fonts for use with the STM32xx-EVAL LCD Driver. Custom charsets can be used including CJK fonts as shown in the screenshot
					</td>
				</tr>
			</tbody>
		</table>

		<br><br>
		<hr/>
		<br>

		<p>
			More to come soon! <br>
			<br>
			View more of my microcontroller projects at  
			<a href="https://github.com/zst-embedded/"> @zst-embedded</a>
		</p>

		<p><i>Last updated in July 2018</i></p>
	</div>