	<div class="blog_section">
		<h1>Videography</h1>
		<p>
			In secondary school, I joined the Marist IT Society CCA where I picked up intermediate video editing skills.
			<br><br>
			I am familiar with the concept of using non-linear (NLE) video editing softwares, namely <i><b>Final Cut Pro 7 and Final Cut Pro X</b></i>.
			<br><br>
			I also have experience with basic filming skills like camera angling and storyboarding.
			<br><br>
		</p>

		<hr/>

		<h3>Sec 4: Class Graduation Video (2015)</h3>
		<p>
			A video for my class during the Sec 4 Graduation Dinner (Class of 2015, Sec 4 Edward)<br>
		</p>
		<!-- http://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/ -->
		<div style=" position: relative; width: 70%; height: auto; padding-bottom: 56.25%; margin-bottom: -12%">
			<iframe style="position: absolute; width: 100%; height: 70%; left: 0; top: 0;" src="https://www.youtube.com/embed/ek_Z2EIlFgM" frameborder="0" allowfullscreen></iframe>
		</div>


		<h3>Polytechnic Year 1: News Report (2016)</h3>
		<p>
			I had a group assignment to create a news broadcast style reports for my communication skills module.<br>
			I led the video editing for a few segments of the news report presentation.
		</p>

		<!-- http://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/ -->
		<div style="text-align:center; position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: -28.125%;">
			<iframe style="position: absolute; width: 50%; height: 50%; left: 0; top: 0;" src="https://drive.google.com/file/d/0B7CBSsJQIV5-Ynd4cWlwd09ZZDA/preview" frameborder="0" allowfullscreen></iframe>
			<iframe style="position: absolute; width: 50%; height: 50%; left: 50%; top: 0;" src="https://drive.google.com/file/d/0B7CBSsJQIV5-ckpaR3NqVjk1OWM/preview" frameborder="0" allowfullscreen></iframe>
		</div>

		<!-- http://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/ -->
		<div style="text-align:center; position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: -28.125%;">
			<iframe style="position: absolute; width: 50%; height: 50%; left: 25%; top: 0;" src="https://drive.google.com/file/d/0B7CBSsJQIV5-ZUdSdkdSR0xBTEE/preview" frameborder="0" allowfullscreen></iframe>
			<!--<iframe style="position: absolute; width: 50%; height: 50%; left: 0; top: 0;" src="https://drive.google.com/file/d/0B7CBSsJQIV5-djhHWDJiNVZQS2M/preview" frameborder="0" allowfullscreen></iframe>
			<iframe style="position: absolute; width: 50%; height: 50%; left: 50%; top: 0;" src="https://drive.google.com/file/d/0B7CBSsJQIV5-ZUdSdkdSR0xBTEE/preview" frameborder="0" allowfullscreen></iframe>-->
		</div>
		<br><br>

		<h3>Polytechnic Year 2: Innovation & Enterprise Showcase (2017)</h3>
		<p>
			A project to learn more about FYP projects done by previous students. <br>
			I created a video to summarise the learning experience
		</p>
		<div style=" position: relative; width: 70%; height: auto; padding-bottom: 56.25%; margin-bottom: -12%">
			<iframe style="position: absolute; width: 100%; height: 70%; left: 0; top: 0;" src="https://drive.google.com/file/d/0B7CBSsJQIV5-VG9UQmpYZHRjSmM/preview" frameborder="0" allowfullscreen></iframe>
		</div>


		<h3>NYP-DBS Innnovation Challenge (2018)</h3>
		<p>
			A challenge focusing on emerging technologies. <br>
			My team envisioned and proposed an innovative smart fridge module.
		</p>
		<div style=" position: relative; width: 70%; height: auto; padding-bottom: 56.25%; margin-bottom: -12%">
			<iframe style="position: absolute; width: 100%; height: 70%; left: 0; top: 0;" src="https://drive.google.com/file/d/1D4FGDJEuJ0PIoDsnwz-_aba8p4OBh4NH/preview" frameborder="0" allowfullscreen></iframe>
		</div>

		<p><i>Last updated in July 2018</i></p>
	</div>